body {
    background-color: #101010;
    margin: 0px;
    padding: 0px;
}

hr {
    border: 1px solid rgb(64, 64, 64);
}

h1 {
    color: white;
    font-size: 6em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 0px; padding: 16px;
}


h1.title {
    border-bottom: 3px solid rgb(64, 64, 64);
    position: relative;
}

h2 {
    color: white;
    font-size: 3em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    position: relative;
}

p {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    color: hsl(0, 0%, 90%);
    font-size: 1.125em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: clamp(25ch, 50%, 50ch);
    text-align: center;
    position: relative;
}


@keyframes increaseSize {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1.4);
    }
}

@keyframes decreaseSize {
    from {
        transform: scale(1.4);
    }

    to {
        transform: scale(1.2);
    }
}


section.title {
    background-color: rgba(0, 0, 0, 0.65);
    position: relative;
}

video.bg-video {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    height: clamp(20px, 32px, 400px);
}

div.social {
    display: flex;
    justify-content: center;
    padding: 16px;
    background-color: #000;
    border: 2px solid rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    width: fit-content;
    margin: 0 auto;
}

div.project-layout {
    display: flex;
    justify-content: center;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

.social img {
    animation-name: decreaseSize;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    padding: 8px;
}

.social :hover img{
    animation-name: increaseSize;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
}

img.project-layout {
    width: 240px;
    height: auto;
    border-radius: 4px;
}

.pl-overlay {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition-duration: all 100ms;
}

.pl-overlay :hover {
    background-color: rgba(0, 0, 0, 0.75);
}